# dependencies
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# logs
logs/
*.log

# build
build/
dist/

# misc
*.local
.DS_Store
Thumbs.db
coverage/
.vscode/
.idea/
*.swp
*.sublime-workspace
*.sublime-project
